@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Nunito:wght@1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --scrollbar-border-top-radius: 0em; /* from 0em to 0.25em */
  --scrollbar-border-bottom-radius: 0em; /* from 0em to 0.25em */
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', monospace;
}

#root {
  width: 100%;
  min-height: 100vh;
  background: #1A1A1A;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.25rem;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, hsla(275 81.3 55.9 / 1), hsla(255 81.3 55.9 / 1));
  border-bottom-left-radius: var(--scrollbar-border-bottom-radius);
  border-bottom-right-radius: var(--scrollbar-border-bottom-radius);
  border-top-left-radius: var(--scrollbar-border-top-radius);
  border-top-right-radius: var(--scrollbar-border-top-radius);
}
